* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e5e5e5;
}

.white {
  background-color: #fff;
}

.ml-5 {
  margin-left: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 935px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  background-color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo ion-icon {
  font-size: 20px;
}

.logo img {
  border-left: 2px solid #dbdbdb;
  margin-left: 10px;
  padding-left: 10px;
}

.pesquisa input {
  width: 215px;
  height: 28px;
  outline: none;
  border: 1px solid #fafafa;
  background-color: #ccc;
  color: #979797;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}

.funcionalidades {
  display: flex;
  align-items: center;
}
.funcionalidades img {
  margin-left: 20px;
  cursor: pointer;
}

/*CONTENT*/

.content {
  position: relative;
  margin-top: 20px;
  display: flex;
  gap: 28px;
}

.publicacao {
  width: 614px;
  height: 114px;
  background-color: #fff;
}

.stories {
  margin: 20px 0;
  padding: 0 2%;
  display: flex;
  overflow-x: hidden;
}

.storie {
  width: 70px;
  text-align: center;
}

.storie + .storie {
  margin-left: 10px;
}

.storie img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 2px solid red;
  background-color: green;
}

.storie p {
  text-align: center;
  white-space: nowrap;
  width: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.arrow-left {
  width: 100%;
  position: relative;
  top: 0;
  right: 0;
}

.arrow-left > img {
  position: absolute;
  top: 20px;
  left: 570px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  cursor: pointer;
}

.sidebar {
  max-width: 293px;
  width: 100%;
  height: 400px;
}

.perfil {
  margin-top: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.perfil > img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  margin-right: 5px;
}

.perfil p:nth-of-type(1) {
  color: black;
  font-size: 14px;
  font-weight: 600;
}
.perfil p:nth-of-type(2) {
  color: black;
  font-size: 12px;
  font-weight: 200;
}

.perfil a {
  font-size: 12px;
  font-weight: 500;
  color: #139ef2;
  text-decoration: none;
}

.sugestao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0 -5px 0;
}
.sugestao p:nth-of-type(1) {
  color: #8e8e8e;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.sugestao p:nth-of-type(2) {
  color: #262626;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}

.post {
  margin-top: 44px;
  padding-bottom: 20px;
}

.header-post {
  width: 100%;
  padding: 20px 2%;
  border-radius: 3px 3px 0 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.perfil-post {
  display: flex;
  align-items: center;
}

.perfil-post > img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

.perfil-post p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.settings {
  cursor: pointer;
}

.img-post img {
  max-width: 614px;
  width: 100%;
}

.interacao-info-post {
  margin-top: -5px;
  padding: 15px 2%;
  border-radius: 0 0 3px 3px;
  background-color: #ffffff;
}

.interacao-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.interacao-post ion-icon {
  font-size: 16.6px;
  cursor: pointer;
}

.left-info-post {
  display: flex;
  align-items: center;
}

.left-info-post img {
  width: 16.5px;
  cursor: pointer;
}

.left-info-post img + img {
  margin-left: 15px;
}

.info-post {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.info-post img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 8px;
}

.info-post p {
  margin-right: 8px;
  font-size: 14px;
}

@media screen and (max-width: 935px) {
  .sidebar {
    display: none;
  }
  .content {
    gap: 0;
    justify-content: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 614px) {
  .publicacao {
    width: 100%;
    height: 114px;
    background-color: #e5e5e5;
  }
  .stories {
    padding: 0 2%;
  }
  .storie p {
    font-size: 12px;
  }
  .arrow-left {
    display: none;
  }
  .container {
    padding: 0;
  }
  .pesquisa {
    display: none;
  }

  .funcionalidades img:nth-of-type(1n + 2) {
    width: 45%;
    display: none;
  }

  .logo {
    width: 60%;
    justify-content: space-between;
  }

  .logo img {
    border-left: none;
    text-align: center;
  }
  .header {
    justify-content: space-between;
    padding: 15px 2%;
  }

  /***scrollbar css config ****/
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #b8b8b8 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
  /*****/
}
